footer.page-footer
  .container
    .row
      .col.l4.s12
        h5.white-text Donations
        p.grey-text.text-lighten-4
          | Help TakoDeploy get more features.
        a.btn.waves-effect.waves-light.green.lighten-1(href="https://paypal.me/andreujuan/5")
          | Buy me a coffee
          i.material-icons.right local_cafe 
      .col.l4.s12
        h5.white-text Join the Discussion
        p.grey-text.text-lighten-4
          | I just oppened a Gitter chat room. Everyone is welcome here.
        a.btn.waves-effect.waves-light.green.lighten-1(target='_blank', href='https://gitter.im/andreujuanc/TakoDeploy') Chat
      .col.l4.s12(style='overflow: hidden;')
        h5.white-text Connect
        iframe(src='http://ghbtns.com/github-btn.html?user=andreujuanc&repo=TakoDeploy&type=watch&count=true&size=large', allowtransparency='true', frameborder='0', scrolling='0', width='170', height='30')
        br
        a.twitter-follow-button(href='https://twitter.com/andreujuanc', data-show-count='true', data-size='large', data-dnt='true') Follow Me @andreujuanc
  .footer-copyright
    .container
      | © 2016 TakoDeploy, All rights reserved.
      a.grey-text.text-lighten-4.right(href='https://github.com/andreujuanc/TakoDeploy/blob/master/LICENSE') MIT License
