meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='msapplication-tap-highlight', content='no')

if meta_descript
  meta(name='description', content='#{meta_descript}')
else
  meta(name='description', content='Best sql server multi database deployment tool.')

if page
  title #{page} - TakoDeploy
else
  title Documentation - TakoDeploy


// Favicons
link(rel='apple-touch-icon-precomposed', href='./images/favicon/apple-touch-icon-152x152.png')
<link rel="apple-touch-icon" sizes="57x57" href="./images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="./images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="./images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="./images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="./images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="./images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="./images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="./images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="./images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="./images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
<link rel="manifest" href="./images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="./images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

//  Android 5 Chrome Color
meta(name='theme-color', content='#EE6E73')
// CSS
//link(href='css/prism.css', rel='stylesheet')
//link(href='css/ghpages-materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
link(href='https://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(href='./stylesheets/main.css', rel='stylesheet', type='text/css')
link(href='./stylesheets/bubbles.css', rel='stylesheet', type='text/css')

script(src="https://code.jquery.com/jquery-2.1.4.min.js")
//<script>if (!window.jQuery) { document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>'); }</script>