//- var no_nav = true
- var white_nav = true
- var page = "Index"

doctype html
html(lang="en")
  head
    include _head
  body
    include _navbar
    main
      include page-contents/index.pug
    include _footer.pug
include _scripts.html