- var no_nav = false
- var page = "Sources"

doctype html
html(lang="en")
  head
    include _head
  body
    include _navbar
    main
      include page-contents/sources.pug
    include _footer.pug
include _scripts.html