
#index-banner,
footer.page-footer,
nav {
	background-color:#2e7d32
}
.footer-copyright{
	background-color:rgba(51,51,51,0.08);
}
#index-banner .container {
	position:relative
}
#index-banner .header {
	color:#FFF
}
#index-banner h4 {
	margin-bottom:40px
}
#index-banner h1 {
	margin-top:16px
}
@media only screen and (max-width: 992px) {
	#index-banner h1 {
		margin-top:60px
	}
	#index-banner h4 {
		margin-bottom:15px
	}
}
@media only screen and (max-width: 600px) {
	#index-banner h4 {
		margin-bottom:0
	}
}
.github-commit {
	padding:14px 0;
	height:64px;
	line-height:36px;
	background-color:#5c5757;
	color:#e6e6e6;
	font-size:.9rem
}
@media only screen and (max-width: 992px) {
	.github-commit {
		text-align:center
	}
}
#github-button {
	background-color:#6f6d6d;
	transition:.25s ease
}
#github-button:hover {
	background-color:#797777
}



/************************************
		SIDE NAV
*************************************/
.side-nav{
	background: linear-gradient(180deg, lightblue 80px, #27a2d0 82px, #11485C 50%, #08242e 84%, #051015 86%);
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;

}
.side-nav li a{
	color:white !important;
}

/************************************
		LOGO
*************************************/
.appName{
	font-size: 3rem;
	font-weight: bold;
	margin: 1rem auto 0rem auto;
	left:auto;
	right:auto;
	width: 220px;
}

#logo-container {
	/*height:57px;*/
	margin-bottom:0px
}

ul.side-nav.fixed li.logo {
	text-align:center;
	margin-top:0px;
	/*margin-bottom:90px;*/
    margin-left:30px;
}
#front-page-logo {
	/*display:inline-block;*/
	/*height:100%;*/
	pointer-events:none
}
@media only screen and (min-width: 993px) {
	header,main, footer{
	padding-left: 200px;
}

}

/************************************
		ABOUT
*************************************/

img.promo{
    width: 60%;
    margin-left:20%;
}

/************************************
		INDEX
*************************************/

#download-thanks{
	display:none;
}