.container
  .row
    .col.s12.m9.l10
      #sources.section.scrollspy
        p.caption
          | Hola?
        h2.header Sources
        p
          | TODO: Intro to Database Sources
        br
        br
      #sourcetypes.section.scrollspy
        h2.header Source types
        p
          | TODO: Intro to source types
        br
      #direct.section.scrollspy
        h4.light Direct
        p
          | TODO: Explain direct type
        br
      #datasource.section.scrollspy
        h4.light Datasource
        p
          | TODO: Explain datasource type
        br
      #query.section.scrollspy
        h4.light Query
        p
          | TODO: Explain query type
        br
      #providers.section.scrollspy
        h2.header Providers
        p
          | TODO: Explain providers
        pre.
      #filters.section.scrollspy
        h2.header Filters
        p
          | TODO: Explain filters
        pre.
      #connection.section.scrollspy
        h2.header Setting up the connection string 
        p
          | TODO: Explain filters
        pre.


    .col.hide-on-small-only.m3.l2
      .toc-wrapper
        div(style='height: 1px;')
          ul.section.table-of-contents
            li
              a(href='#sources') sources
            li
              a(href='#sourcetypes') Source types
            li
              a(href='#direct') Direct
            li
              a(href='#datasource') Datasource
            li
              a(href='#query') Query
            li
              a(href='#providers') Providers
            li
              a(href='#filters') Filters
            li
              a(href='#connection') Connection String
            
